## Visual Studio ve .NET için temel .gitignore

# Build sonuçları
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Test sonuçları
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# VS Code
.vscode/

# Rider
.idea/